# Compiled sources #

*.class

*.*~



# Package Files #

*.jar



# Log files #

*.log



# Ignore paths #

nbproject/private/*.*

nbproject/genfiles.properties

/dist/

/build/

/nbproject/private/



# Eclipse Files #

.classpath

.project
.
settings/
.
checkstyle

/.nb-gradle/profiles/private/
